<!DOCTYPE html>
<html>
<head>
	<title>IMageGAllery</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<style type="text/css">
		h1
		{
          font-family: 'Merriweather', serif;
		}
    	.bg-light {
         background-color: #3a4eb9!important;
        }
        .jumbotron {
            padding: 2rem 1rem;
            margin-bottom: 2rem;
            background-color: #E91E63;
            border-radius: .3rem;
        }
        .w3-card-4
        {
          margin:20%;
        }

	</style>
}
</head>
<body>


     <div class="container">
     	<div class="jumbotron">
     	<h1> {{ item }} </h1>
     	<h4> select your item and add to cart </h4>
        </div>

     	<div class="row">
           {% for product in productlist %}
           		<div class=" col-lg-3">
                    <div class="w3-card-4" style="width:56%" >
                          <a href= "/productDetail/{{ product['pname']}}" >
                               <img src= " {{  product['imagesrc'] }} " alt="Norway" style="width:100%">
                                    <div class="w3-container w3-center">
                                        product :{{  product['pname']  }}
                                        price :  {{  product['priceperunit']  }}
                                    </div>
                          </a>
                    </div>
           	    </div>
             {% endfor %}
      </div>

l   <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</body>
</html>